@import "layout";
@import "mixins";
@import "colours";
@import "typography";


button{
margin: 0px 0px 7.5px 0;
height: 44px;
width: 164px;
text-align:center;
display:inline-block;
font-size: 12px;
color:$white;
background-color:$black;
border-radius: 100px;
transition: all 0.1s ease 0s;
}
button:hover{
  background-color:$orange;
  transform: translateY(-1px);
}

title-button{
 width:100%;
 display:flex;
 align-items:center;
 justify-content:space-between;
 flex-direction:row;
 height:44px;
 margin: 10px 0 10px 0;
}

label{
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid black;
  width: 100%;
  display:flex;
  align-items: center;
  height:44px;
  margin: 0 0 15px 0;
}
title-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0 10px 0;
}

footer{
  background: $white;
  bottom: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $black;
  ul.footer-link{
    display: inline;
  }
}
