@import "layout";
@import "mixins";
@import "colours";
@import "typography";

navbutton,navback,button a{
transition: all 0.1s ease 0s;
}

navbutton{
height: 44px;
width: 44px;
background-image: url(/img/Logo.svg);

}

navbutton:hover{
background-image: url(/img/Logohover.svg);
cursor: pointer;
}

navback{
  height: 44px;
  width: 44px;
  background-image: url(/img/back.svg);
}

navback:hover{
  height: 44px;
  width: 44px;
  background-image: url(/img/backhover.svg);
  cursor: pointer;
}

button{
margin: 0px 0px 7.5px 0;
height: 44px;
width: 164px;
text-align:center;
display:inline-block;
font-size: 12px;
color:$white;
background-color:$black;
border-radius: 100px;
border: 0;
}
button:hover{
  background-color:$orange;
  transform: translateY(-1px);
  cursor: pointer;
}

button.disabled{
background-color:$disable;
color: $lightgrey;
}

title-button{
 width:100%;
 display:flex;
 align-items:center;
 justify-content:space-between;
 flex-direction:row;
 height:44px;
 margin: 10px 0 10px 0;
}

label{
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid black;
  width: 100%;
  display:flex;
  align-items: center;
  height:44px;
  margin: 0 0 15px 0;
}
title-card{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 14px 34px 44px;
  justify-content: flex-start;
}

button-list{
  display: flex;
  flex-direction: column;
  margin:0;
  padding: 0;
}

nav{
overflow: hidden;
position: sticky;
height: 60px;
width: 100%;
border-bottom: 1px solid $black;
top:0;
margin: 0 0 20px 0;
background-color: $white;
padding: 0 0 15px 0;
nav-link{
grid-column: 11/13;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;
}
}



footer{
  width: 100%;
  background: $white;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  border-top: 1px solid $black;
  padding: 15px 0 0 0;
  ul.footer-link{
    display: inline;
  }
}
