@import "layout";
@import "mixins";
@import "colours";
@import "typography";


button{
max-width: 200px;
max-height: 50px;
border-radius: 12px;
text-align: center;
padding:15px;
border: none;
}

button:hover{
cursor: pointer;
transition: all 0.3s;
}

.icon{
max-width: 25px;
max-height: 25px;
margin-right:10px;
background-repeat: no-repeat;
border: 0;
}

.figma{
background-color: $black;
color: $white;

}

.notion{
background-color: $white;
}
