.image{
  background-repeat: no-repeat;
  background-size: 100%;
}

#bunz-hero{
  background-image: url(../img/bunz-hero.png);
}

#bunz-full{
  background-image: url(../img/bunz-full.png);
  @include for-tablet-landscape-up{
    background-image: url(../img/bunz-full-v.png);
  }
}

#bunz-wireframe{
  background-image: url(../img/bunz-wireframe.png);
}

#bunz-v{
  background-image: url(../img/bunz-v.png);
}

// Ada ---------- Ada //

#ada-full{
  background-image: url(../img/ada-full.png);
}

#ada-side{
  background-image: url(../img/ada-side.png);
}
#ada-ill{
  background-image: url(../img/ada-ill.png);
}

#pitch-hero{
  background-image: url(../img/pitch-hero.png);
}
#pitch-full{
  background-image: url(../img/pitch-full.png);
}
#pitch-side{
  background-image: url(../img/pitch-side.png);
}

#figma{
background-image: url(../img/figma.svg);
}

#notion{
background-image: url(../img/notion.svg);
}

#poster-hero{
  background-image: url(../img/posters-full.png);
}

#border{
  background-image: url(../img/border.png);
  @include for-tablet-landscape-up{
    display: none;
  }
}
