@import "colours";
@import "mixins";
@import "typography";
@import "images";

// Intro Section //
.intro{
grid-template-rows: 200px 400px 50px;
}

// IntroParagraph (Article) //
.intro-l{
grid-column:1/12;
grid-row: 2/3;
display: flex;
justify-content: center;
@include for-tablet-landscape-up{
  grid-column: 1/5;
}

}


#navbar{
  opacity: 100%;
  transition: 0.3s;
}
// Bunz Invetory Section //
.bunz-1{
grid-template-rows: 100px 595px 100px;
@include for-tablet-landscape-up {
  grid-template-rows: 400px 400px;
  grid-row-gap: 60px
}

}
.bunz-l{
grid-column: 1/6;
grid-row: 2/3;

    @include for-tablet-landscape-up{
    grid-row: 1/2;
      grid-column: 1/5;
        }
}
.bunz-r{
grid-column: 7/13;
grid-row: 1/4;

    @include for-tablet-landscape-up{
    grid-row: 2/3;
      grid-column: 1/5;
        }
}

// Bunz Inventory Section 2 //
.bunz-2{
grid-template-rows: 200px 200px;
grid-row-gap: 30px;
@include for-tablet-landscape-up{
  grid-template-rows: 100px 573px 80px 220px;
}

}
.bunz-f{
grid-column: 1/13;
grid-row:1/2;
@include for-tablet-landscape-up{
  grid-column: 1/5;
grid-row: 2/3;
}
}
.bunz-2l{
grid-column:1/7;
grid-row: 2/3;
@include for-tablet-landscape-up{
grid-row: 3/4;
  grid-column: 1/5;
}
}
.bunz-2r{
grid-column: 8/13;
grid-row:2/3;
@include for-tablet-landscape-up{
grid-row: 4/4;
  grid-column: 1/5;
}
}

// Bunz Inventory Section 3 //
.bunz-3{
grid-template-rows: 100px 400px 50px;
@include for-tablet-landscape-up{
grid-template-rows: 100px 360px 200px 50px;
grid-row-gap: 60px;
}
}
.bunz-3r{
grid-column: 8/13;
grid-row: 2/3;
@include for-tablet-landscape-up{
  grid-column: 1/5;
grid-row: 3/4;
}
}
.bunz-3l{
grid-column: 1/7;
grid-row: 1/4;
@include for-tablet-landscape-up{
  grid-column: 1/5;
grid-row: 2/3;
}
}


// Ada Section 1 //
.ada1{
grid-template-rows: 800px 550px;
grid-row-gap: 80px;
@include for-tablet-landscape-up{
  grid-template-rows: 800px 450px 250px;
  grid-gap: 60px;
}
}
.ada-1full{
grid-row:1/2;
grid-column: 1/13;
@include for-tablet-landscape-up{
    grid-column: 1/5;
}

}
.ada-1l{
grid-row:2/3;
grid-column: 1/6;
@include for-tablet-landscape-up{
    grid-column: 1/5;
}
}

.ada-2l{
grid-column: 8/10;
@include for-tablet-landscape-up{
    grid-column: 1/5;
  grid-row: 3/4;
}
}
.ada-2la{
grid-column: 11/13;
@include for-tablet-landscape-up{
    grid-column: 3/5;
  grid-row: 3/4;
}
}


// Ada Section 2 //
.ada2{
width: 100%;
grid-template-rows: 572px;
@include for-tablet-landscape-up{
grid-template-rows: 800px;
}
}

.ada-2r{
grid-column: 1/13;
@include for-tablet-landscape-up{
  grid-column: 1/5;
}
}


//Ada Section 3 //
.ada3{
grid-template-rows: 842px;
@include for-tablet-landscape-up{
grid-template-rows: 600px;
}
}
.ada-3full{
grid-column: 1/13;
@include for-tablet-landscape-up{
  grid-column: 1/5;
}
}


// Pitch Section 1 //
.pitch1{
grid-template-rows: 100px 400px 100px;
@include for-tablet-landscape-up{
grid-template-rows: 450px 450px 10px;
grid-row-gap: 60px;
}
}
.pitch-1l{
grid-column: 1/6;
grid-row: 2/3;
@include for-tablet-landscape-up{
grid-row: 1/2;
grid-column: 1/5;
}
}
.pitch-1r{
grid-column: 7/13;
grid-row: 1/4;
@include for-tablet-landscape-up{
grid-row: 2/3;
grid-column: 1/5;
}
}

// Pitch Section 2 //
.pitch2{
grid-template-rows: 580px 200px 100px;
grid-row-gap: 60px;
@include for-tablet-landscape-up{
grid-template-rows: 220px 200px 100px;
}
}
.pitch-2f{
grid-column: 1/13;
grid-row: 1/2;
@include for-tablet-landscape-up{
grid-column: 1/5;
}
}
.pitch-2l{
grid-column: 1/6;
grid-row: 2/3;
@include for-tablet-landscape-up{
grid-column: 1/5;
}
}
.pitch-2r{
grid-row: 2/3;
}


// Pitch Section 3 //
.pitch3{
grid-template-rows: 640px;
@include for-tablet-landscape-up{
grid-template-rows: 60px 450px 200px 60px;
}
}
.pitch-3l{
grid-column: 1/7;
@include for-tablet-landscape-up{
grid-column: 1/5;
grid-row:2/3;
}
}
.pitch-3r{
grid-column: 8/13;
@include for-tablet-landscape-up{
grid-column: 1/5;
grid-row:3/4;
}
}

// Moving Posters

.posters{
grid-template-rows: 660px 350px 600px 200px;
@include for-tablet-landscape-up{
grid-template-rows: 800px 350px 100px 200px;
}


.poster-full{
grid-column: 1/13;
grid-row: 1/2;
@include for-tablet-landscape-up{
grid-column: 1/5;
}

@include for-tablet-landscape-up{
grid-column: 1/5;
}
}
.poster-l{
grid-column: 1/6;
grid-row: 2/3;
@include for-tablet-landscape-up{
grid-column: 1/5;
}
}
.poster-v{
grid-column: 1/13;
grid-row:3/4;
@include for-tablet-landscape-up{
grid-column: 1/5;
}
}

}


// Footer Section//

.footer{
overflow-y: scroll;
scroll-behavior: smooth;
margin-top: 200px;
grid-template-rows: 400px 200px;
grid-row-gap: 80px;
@include for-tablet-landscape-up{
  grid-template-rows: 260px 100px;
}

}

.footer-span{
grid-row: 1/2;
grid-column: 1/7;
@include for-tablet-landscape-up{
grid-column: 1/5;
}
}
.footer-side{
grid-column: 8/13;
@include for-tablet-landscape-up{
grid-column: 1/5;
}
}

.footer-mark{
grid-row: 2/3;
grid-column: 1/3;
@include for-tablet-landscape-up{
grid-column: 1/5;
display: none;
}
}
.footer-contact{
display: grid;
grid-template: repeat(2,1fr);
grid-row: 2/3;
grid-column: 8/13;
grid-column-gap: 10px;
grid-column-gap: 15px;
@include for-tablet-landscape-up{
grid-column: 1/5;
}
.list1{
grid-column: 1/2;
}
.list2{
grid-column: 2/3;
}

}

#1{}

// Button Container //

.box{
margin-top: 30px;
display: flex;
flex-direction: row;
justify-content: flex-start;
}

.nav-link{
  display: flex;
  flex-direction: row;
  text-align: right;
}


// Seperator //
.border{
grid-template-rows: repeat(3, 100px);
@include for-tablet-landscape-up{
  grid-template-rows: repeat(3, 50px);
}

.line{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
grid-row:2/3;
grid-column: 5/9;
@include for-tablet-portait-up{
  grid-column: 1/13;
}
}
}
