@import "colours";
@import "mixins";
@import "typography";

html {
  background-color: $white;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  flex-wrap: wrap;
  flex-direction: row;
}

body, content{
padding:0;
display:flex;
justify-content: center;
}

content {
  max-width: 1440px;
  width: 100%;
  margin: .75em 0.5em 1em;
  flex-direction: column;
  align-items: center;
  @include for-phone-only {
    width: 95%;
  }
}

article{
width: 100%;
display: grid;
grid-template-columns: repeat(12,1fr);
grid-column-gap:30px;
margin: 15px 0 15px 0;
//border: 1px solid red;
}

//hero-project//
#row-2{
grid-template-rows: 100px 660px;
grid-row-gap: 20px;
}
#gallery{
margin: 60px 0 60px 0;
grid-template-rows:530px;
}

section{
margin: 0;
display:grid;
}

.proj-title{
grid-row:1/2;
grid-column: 1/4;
}
.proj-hero{
grid-row:2/3;
grid-column: 1/13;
background-color: $black;
}
.proj-gallery{
grid-column: 1/9;
background-color: $black;
}

//---Columns---//
#card{
grid-template-rows:259px 85px 44px;
grid-row-gap: 10px
}
prj-img{
width: 100%;
background-color:$black;
}
.col-1{
grid-column: 1/5;
}
.col-2{
grid-column:5/9;
}
.col-3{
grid-column: 9/13;
}
.col-4{
  grid-column:1/6;}
.col-5{
  grid-column:6/9;
}
#assets{
  display: flex;
  flex-direction: column;
}

//---End of Project Cards---//

//--About Container--//
.col-full{
grid-column: 1/13;
}
//-End of About Container--//
