@import "colours";
@import "mixins";
@import "typography";
@import "images";

// Intro Section //
.intro{
}

// IntroParagraph (Article) //
.intro-l{
grid-column:1/7;

}
// Past Experiences (Article) //
.intro-r{
grid-column:8/13;
}
//Past Experiences List (aside)//
.list{
display:grid;
grid-template-columns:repeat (2, 1fr);
grid-template-rows: 25px 45px;
margin-bottom: 20px;
}
#name{
grid-row:1/2;
grid-column: 1/3;
}
#title{
grid-row:2/3;
grid-column: 1/2;
}
#date{
grid-row: 2/3;
grid-column: 2/3;
text-align: right;
}


#navbar{
  opacity: 100%;
  transition: 0.3s;
}
// Bunz Invetory Section //
.bunz-1{
grid-template-rows: 650px;
}
.bunz-l{
grid-column: 1/7;
}
.bunz-r{
grid-column: 8/13;
}

// Bunz Inventory Section 2 //
.bunz-2{
grid-template-rows: 200px 200px;
grid-row-gap: 30px;
}
.bunz-f{
grid-column: 1/13;
grid-row:1/2;
}
.bunz-2l{
grid-column:1/7;
grid-row: 2/3;
}
.bunz-2r{
grid-column: 7/13;
grid-row:2/3;
}

// Bunz Inventory Section 3 //
.bunz-3{
grid-template-rows: 650px;
}
.bunz-3r{
grid-column: 7/13;
}
.bunz-3l{
grid-column: 1/6;
}


// Ada Section 1 //
.ada1{
grid-template-rows: 800px 200px;
grid-row-gap: 80px;
}
.ada-1full{
grid-row:1/2;
grid-column: 1/13;
}
.ada-1l{
grid-row:2/3;
grid-column: 1/7;
}
.ada-1r{
grid-row:2/3;
grid-column: 7/13;
}

// Ada Section 2 //
.ada2{
width: 100%;
grid-template-rows: 520px;
}
.ada-2l{
grid-column: 1/4;
}
.ada-2la{
grid-column: 4/7;
}
.ada-2r{
grid-column: 7/13;
}


//Ada Section 3 //
.ada3{
grid-template-rows: 650px;
}
.ada-3full{
grid-column: 1/13;
}


// Pitch Section 1 //
.pitch1{
grid-template-rows: 780px;
}
.pitch-1l{
grid-column: 1/7;
}
.pitch-1r{
grid-column: 7/13;
}

// Pitch Section 2 //
.pitch2{
grid-template-rows: 720px 1fr;
}
.pitch-2f{
grid-column: 1/13;
grid-row: 1/2;
}
.pitch-2l{
grid-column: 1/7;
grid-row: 2/3;
}
.pitch-2r{
grid-column: 7/13;
grid-row: 2/3;
}
// Pitch Section 3 //
.pitch3{
grid-template-rows: 640px;
}
.pitch-3l{
grid-column: 1/7;
}
.pitch-3r{
grid-column: 7/13;
}


// Footer Section//

.footer{
margin-top: 200px;
grid-template-rows: 400px 200px;
}
.footer-span{
grid-row: 1/2;
grid-column: 1/10;
}
.footer-mark{
grid-row: 2/3;
grid-column: 1/3;
}
.footer-contact{
display: grid;
grid-template: repeat(2,1fr);
grid-row: 2/3;
grid-column: 9/13;
grid-column-gap: 10px;
grid-column-gap: 15px;
.list1{
grid-column: 1/2;
}
.list2{
grid-column: 2/3;
}

}



// Button Container //

.box{
margin-top: 30px;
display: flex;
flex-direction: row;
justify-content: flex-start;
// display: grid;
// grid-template-columns: repeat(4, 1fr);
// grid-gap: 10px;

}
