@font-face {
  font-family: 'MaisonNeue-Mono';
  src: url("../fonts/MaisonNeue-Mono.woff2") format('woff2'), url("../fonts/MaisonNeue-Mono.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'MaisonNeue-Book';
    src: url('MaisonNeue-Book.woff2') format('woff2'),
        url('MaisonNeue-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,h2,caption,p,li{
  color:$bone;
}

button{
font-family:"MaisonNeue-Book", sans-serif;
font-size: 16px;}

h2,caption,p,li{
font-family:"MaisonNeue-Book", sans-serif;
}

//Largest Font Size//
h1{
font-family:"MaisonNeue-Mono", sans-serif;
font-size: 36px;
margin-top: 5px;
}

//2nd Largest Font Size//
h2{
font-size: 26px;
font-weight: normal;
}

//Font above body copy//
caption{
font-size:2em;
font-weight: normal;
}
//Body Copy//
p{
  font-size:16px;
}

li{
  font-size:16px;
  list-style: none;
  margin-bottom: 10px;
}

a{
  font-family:"MaisonNeue-Mono", sans-serif;
  color: $bone;
  text-decoration: none;
}

a.nav-contact{
  margin-block-start:1em;
  margin-block-start:1em;
}
