
@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('../fonts/AktivGrotesk-Regular.woff2') format('woff2'),
        url('AktivGrotesk-Regular.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Canela';
    src: url("../fonts/Canela-Light-Web.eot");
    src: url('../fonts/Canela-Light.woff2') format('woff2'),
        url('../fonts/Canela-Light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}




h1,h2,caption,p,li,h4{
  color:$gunmetal;
}



button{
font-family:"Aktiv Grotesk", sans-serif;
font-size: 16px;}

h2,caption,p,li, b{
font-family:"Aktiv Grotesk", sans-serif;
}

//Largest Font Size//
h1{
font-family:"Canela", serif;
font-size: 64px;
margin-bottom: 5px;
margin-top: 5px;
font-weight: lighter;
}

//2nd Largest Font Size//
h2{
font-size: 36px;
font-weight: normal;
}

h3{
font-family:"Canela", serif;
font-size: 36px;
font-weight: lighter;
margin-top: 0px;
margin-bottom: 30px;
}


//Font above body copy//
h4{
font-size:2em;
font-weight: normal;
}
//Body Copy//
p{
  font-size:18px;
  line-height: 23px;
  margin-top: 0px;
}

li{
  font-size:18px;
  list-style: none;
  margin-bottom: 10px;
}

a{
  font-size: 18px;
  font-family:"Aktiv Grotesk", sans-serif;
  color: $gunmetal;
  text-decoration: none;
}

b{
  color: $green;
  font-size: 12px;
}


.casestudy{
  text-decoration: underline;
}

.casestudy:hover{
  transition: 0.3s;
  color: $green;
  cursor: pointer;
}

.arrow{
  margin-right: 0.5em;
}

.subtitle{
  font-size: 14px;
  color:$grey;
}

.nav-contact{
  margin-block-start:1em;
  margin-block-start:1em;
  margin-right: 1em;
  font-family: "Canela", serif;
  font-weight: lighter;
}
