
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100');
@import "colours";
h1, h2, h3, body, label{
font-family: sans-serif;
font-style: normal;
font-weight: normal;
color:$black;
}

h1{
  font-size: 40px;
  font-weight: lighter;
}

h2{
  font-size: 32px;
  margin: 0;
  font-weight: lighter;
}

h3{
font-size: 26px;
margin: 0;
font-weight: lighter;
}
h4{
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color:$grey;
  margin:0 0 -2px 0;

}

p{
  font-size: 18px;
  line-height: 19px;
  margin: 5px 0 0 0;
}


label{
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid black;
  width: 100%;
  display:flex;
  align-items: center;
}
