@import "layout";
@import "typography";
@import "mixins";

html{
  background-colour: black;
  margin:0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  padding:0;
  margin: 0;
  font-family: sans-serif;
  flex-wrap: wrap;
  flex-direction: row;
}
