@import "layout";
@import "mixins";
@import "colours";
@import "typography";
@import "components";
@import "normalize";
@import "images";


html {
  background-color: $white;
  margin: 0;
  padding: 0;
}

body,
content {
  padding: 0;
  display: flex;
  justify-content: center;
}

content {
  max-width: 1380px;
  width: 100%;
  margin: .75em 0.5em 1em;
  margin: 0.75em 0.5em 1em;
  flex-direction: column;
  align-items: center;
  @include for-phone-only {
    width: 95%;
  }
}

.top{
top:100%;
background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
}
.bottom{
bottom: 0;
background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
}

nav{
z-index: 100;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 70px;
position: fixed;
max-width: 1380px;
background: linear-gradient(to bottom, $white, $white 50%);
}



section{
width: 100%;
display: grid;
grid-template-columns:repeat(12, 1fr);
grid-column-gap: 30px;
//margin:60px 0 60px 0;
}

article{
display:flex;
flex-direction: column;
}
